
.container {
    display: flex;
    /* gap: 30px; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* align-content: center; */
    align-items: center;
    height : 700px;
    animation-name:;
}

.box {
    background-color: aqua;
    border: 2px solid gray;
    width: 300px;
    height: 200px;
    box-shadow: 0;
}