
.container {
    width: 100% ;
    height: 600px ;
    background-color: brown ;

    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

    /* grid-template-columns: 200px 200px 1fr 400px; */
    
}

.box {
    padding: 10px;
    text-align: center;
    margin: 10px;

    background-color: aqua;
    border: 2px solid black;
}

#header {
    grid-column-start: 1 ;
    grid-column-end: 4;
}

#sidebar {
    grid-row-start : 2 ;
    grid-row-end: 4 ;
}

#content-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#content-2 {
    grid-column-start: 2;
}

#content-3 {
    grid-column-start: 3;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

