/* 
.container {
    width: 100% ;
    height: 600px ;
    background-color: brown ;

    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

    
    
}

.box {
    padding: 10px;
    text-align: center;
    margin: 10px;

    background-color: aqua;
    border: 2px solid black;
}

#header {
    grid-column-start: 1 ;
    grid-column-end: 4;
}

#sidebar {
    grid-row-start : 2 ;
    grid-row-end: 4 ;
}

#content-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#content-2 {
    grid-column-start: 2;
}

#content-3 {
    grid-column-start: 3;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 4;
}
 */



.container {
    width: 100% ;
    height: 600px ;
    background-color: brown ;

    display: grid;
    /* justify-content : space-evenly ; */
    /* align-items: space-evenly ; */

    grid-template-areas: "header header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-3"
    "footer footer footer";


    
    
}
.box {
    padding: 10px;
    text-align: center;
    margin: 10px;

    background-color: aqua;
    border: 2px solid black;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar ;
}

#content-1 {
    grid-area : content-1 ;
}

#content-2 {
    grid-area : content-2 ;
}

#content-3 {
    grid-area : content-3 ;
}

#footer {
    grid-area : footer ;
}